body {
  text-align: center;
  font-family: Arial;
  margin-top: 0%;
  margin-left: 0%;
  margin-right: 0%;
  margin-bottom: 0%;
	background: linear-gradient(50deg, 
	rgba(200,18,18,1) 15%, 
	rgba(172,173,0,1) 25%, 
	rgba(48,223,48,1) 40%, 
	rgba(33,220,196,1) 60%, 
	rgba(41,15,216,1) 75%, 
	rgba(255,0,215,1) 85%);   
     animation: gradient 20s ease infinite; 
     background-size: 500% 500%;
}


#overlay {
	height: 400px;
	width: 100%;
	margin-top: 0px;	
    margin-bottom: 0px;	
	margin-left: auto;
	margin-right: auto;
	padding-top: 100px;
	border-radius: 0px;	
	background: linear-gradient(50deg, 
	rgba(200,18,18,1) 15%, 
	rgba(172,173,0,1) 25%, 
	rgba(48,223,48,1) 40%, 
	rgba(33,220,196,1) 60%, 
	rgba(41,15,216,1) 75%, 
	rgba(255,0,215,1) 85%);       
     animation: gradient 20s ease infinite; 
     background-size: 20000% 20000%;
     box-shadow: 0px 0px 10px 0px black;
     z-index: 1;
}
@-webkit-keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}
@keyframes gradient{
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
     background-position: 0% 50%;
  }
}

	#arells-icon {
		width: 150px;
	}

	h1{
		margin-top: -5px;
		font-family: Bahnschrift;
		font-size: 60px;	
		letter-spacing: -3px;
		margin-right: 3px;
		font-weight: 500;
		color: white;
	}
	#slogan {
		margin-top: -30px;
		font-size: 15px;
		letter-spacing: 2px;
		margin-left: 2px; 
		font-weight: 600;
		color: white;
	}
	#coming-soon {
		margin-top: 25px;
		font-size: 15px;
		margin-left: 20px;
		letter-spacing: 20px;
		font-weight: 400;
		color: white;
	}
	
	@media screen and (max-width: 650px) {
	  body {
	    -webkit-text-size-adjust: none;
	  }
	  	#slogan {
			margin-top: -30px;
			font-size: 12px;
			letter-spacing: 2px;
			margin-left: 2px; 
		}
		#coming-soon {
			margin-top: 20px;
			font-size: 12px;
			margin-left: 20px;
			letter-spacing: 20px;
		}
	}	


footer {
   padding-top: 12px;
   height: 50px;
	margin-left: auto;
	margin-right: auto;	
	z-index: 2;
	color: #f8f8fc;
}
	#description {
		font-size: 13px;
		letter-spacing: 1px;
		font-weight: 600;
		opacity: .8;
	}
	#powered {
		margin-top: 10px;
	    font-size: 12px;
	    letter-spacing: 0px; 
	    font-weight: 600; 
	    opacity: .8;
	    margin-bottom: 20px;
	}
	#ecare-link:hover{
		opacity: .5;
	    cursor: pointer;
		transition: 1s;
	}
	#ecare-icon {
		width: 20px;
		margin-bottom: 0px;
	}

